body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1201px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:911px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7929 {
  position:absolute;
  left:1px;
  top:73px;
  width:252px;
  height:911px;
}
#u7930 {
  position:absolute;
  left:2px;
  top:448px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#959595;
}
#u7931 {
  position:absolute;
  left:25px;
  top:704px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#959595;
}
#u7932 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:2px;
}
#u7933 {
  position:absolute;
  left:19px;
  top:722px;
  width:218px;
  height:1px;
}
#u7934 {
  position:absolute;
  left:2px;
  top:-8px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:2px;
}
#u7935 {
  position:absolute;
  left:1px;
  top:73px;
  width:252px;
  height:1px;
}
#u7936 {
  position:absolute;
  left:2px;
  top:-8px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:912px;
}
#u7937 {
  position:absolute;
  left:1px;
  top:73px;
  width:1px;
  height:911px;
}
#u7938 {
  position:absolute;
  left:2px;
  top:448px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7939 {
  position:absolute;
  left:1px;
  top:354px;
  width:252px;
  height:34px;
  font-size:14px;
  color:#6A6A6A;
}
#u7939_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7939.mouseOver {
}
#u7939_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7939.selected {
}
#u7940 {
  position:absolute;
  left:2px;
  top:9px;
  width:248px;
  word-wrap:break-word;
}
#u7941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7941 {
  position:absolute;
  left:1px;
  top:388px;
  width:252px;
  height:34px;
  font-size:14px;
  color:#6A6A6A;
}
#u7941_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7941.mouseOver {
}
#u7941_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7941.selected {
}
#u7942 {
  position:absolute;
  left:2px;
  top:9px;
  width:248px;
  word-wrap:break-word;
}
#u7943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7943 {
  position:absolute;
  left:1px;
  top:422px;
  width:252px;
  height:34px;
  font-size:14px;
  color:#6A6A6A;
}
#u7943_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7943.mouseOver {
}
#u7943_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7943.selected {
}
#u7944 {
  position:absolute;
  left:2px;
  top:9px;
  width:248px;
  word-wrap:break-word;
}
#u7945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7945 {
  position:absolute;
  left:1px;
  top:456px;
  width:252px;
  height:34px;
  font-size:14px;
  color:#6A6A6A;
}
#u7945_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7945.mouseOver {
}
#u7945_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7945.selected {
}
#u7946 {
  position:absolute;
  left:2px;
  top:9px;
  width:248px;
  word-wrap:break-word;
}
#u7947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7947 {
  position:absolute;
  left:1px;
  top:490px;
  width:252px;
  height:34px;
  font-size:14px;
  color:#6A6A6A;
}
#u7947_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7947.mouseOver {
}
#u7947_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7947.selected {
}
#u7948 {
  position:absolute;
  left:2px;
  top:9px;
  width:248px;
  word-wrap:break-word;
}
#u7949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7949 {
  position:absolute;
  left:1px;
  top:524px;
  width:252px;
  height:34px;
  font-size:14px;
  color:#6A6A6A;
}
#u7949_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7949.mouseOver {
}
#u7949_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7949.selected {
}
#u7950 {
  position:absolute;
  left:2px;
  top:9px;
  width:248px;
  word-wrap:break-word;
}
#u7951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7951 {
  position:absolute;
  left:1px;
  top:558px;
  width:252px;
  height:34px;
  font-size:14px;
  color:#6A6A6A;
}
#u7951_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7951.mouseOver {
}
#u7951_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7951.selected {
}
#u7952 {
  position:absolute;
  left:2px;
  top:9px;
  width:248px;
  word-wrap:break-word;
}
#u7953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7953 {
  position:absolute;
  left:1px;
  top:592px;
  width:252px;
  height:34px;
  font-size:14px;
  color:#6A6A6A;
}
#u7953_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7953.mouseOver {
}
#u7953_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7953.selected {
}
#u7954 {
  position:absolute;
  left:2px;
  top:9px;
  width:248px;
  word-wrap:break-word;
}
#u7955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7955 {
  position:absolute;
  left:1px;
  top:626px;
  width:252px;
  height:34px;
  font-size:14px;
  color:#6A6A6A;
}
#u7955_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7955.mouseOver {
}
#u7955_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7955.selected {
}
#u7956 {
  position:absolute;
  left:2px;
  top:9px;
  width:248px;
  word-wrap:break-word;
}
#u7957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7957 {
  position:absolute;
  left:1px;
  top:660px;
  width:252px;
  height:34px;
  font-size:14px;
  color:#6A6A6A;
}
#u7957_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7957.mouseOver {
}
#u7957_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7957.selected {
}
#u7958 {
  position:absolute;
  left:2px;
  top:9px;
  width:248px;
  word-wrap:break-word;
}
#u7959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7959 {
  position:absolute;
  left:2px;
  top:729px;
  width:252px;
  height:34px;
  font-size:14px;
  color:#6A6A6A;
}
#u7959_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7959.mouseOver {
}
#u7959_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7959.selected {
}
#u7960 {
  position:absolute;
  left:2px;
  top:9px;
  width:248px;
  word-wrap:break-word;
}
#u7961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7961 {
  position:absolute;
  left:2px;
  top:763px;
  width:252px;
  height:34px;
  font-size:14px;
  color:#6A6A6A;
}
#u7961_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7961.mouseOver {
}
#u7961_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7961.selected {
}
#u7962 {
  position:absolute;
  left:2px;
  top:9px;
  width:248px;
  word-wrap:break-word;
}
#u7963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7963 {
  position:absolute;
  left:1px;
  top:320px;
  width:252px;
  height:34px;
  font-size:14px;
  color:#6A6A6A;
}
#u7963_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7963.mouseOver {
}
#u7963_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7963.selected {
}
#u7964 {
  position:absolute;
  left:2px;
  top:9px;
  width:248px;
  word-wrap:break-word;
}
#u7965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7965 {
  position:absolute;
  left:2px;
  top:831px;
  width:252px;
  height:34px;
  font-size:14px;
  color:#6A6A6A;
}
#u7965_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7965.mouseOver {
}
#u7965_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7965.selected {
}
#u7966 {
  position:absolute;
  left:2px;
  top:9px;
  width:248px;
  word-wrap:break-word;
}
#u7967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7967 {
  position:absolute;
  left:2px;
  top:865px;
  width:252px;
  height:34px;
  font-size:14px;
  color:#6A6A6A;
}
#u7967_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7967.mouseOver {
}
#u7967_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7967.selected {
}
#u7968 {
  position:absolute;
  left:2px;
  top:9px;
  width:248px;
  word-wrap:break-word;
}
#u7969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:2px;
}
#u7969 {
  position:absolute;
  left:0px;
  top:983px;
  width:253px;
  height:1px;
}
#u7970 {
  position:absolute;
  left:2px;
  top:-8px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7971 {
  position:absolute;
  left:2px;
  top:797px;
  width:252px;
  height:34px;
  font-size:14px;
  color:#6A6A6A;
}
#u7971_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7971.mouseOver {
}
#u7971_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#6A6A6A;
}
#u7971.selected {
}
#u7972 {
  position:absolute;
  left:2px;
  top:9px;
  width:248px;
  word-wrap:break-word;
}
#u7973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u7973 {
  position:absolute;
  left:19px;
  top:84px;
  width:84px;
  height:84px;
}
#u7974 {
  position:absolute;
  left:2px;
  top:34px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7975 {
  position:absolute;
  left:113px;
  top:105px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7976 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u7977 {
  position:absolute;
  left:110px;
  top:128px;
  width:68px;
  height:15px;
  font-size:12px;
}
#u7978 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u7979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7979 {
  position:absolute;
  left:20px;
  top:178px;
  width:79px;
  height:16px;
}
#u7980 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u7981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u7981 {
  position:absolute;
  left:20px;
  top:201px;
  width:151px;
  height:15px;
  font-size:12px;
}
#u7982 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u7983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u7983 {
  position:absolute;
  left:20px;
  top:227px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u7984 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u7985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:6px;
  background:inherit;
  background-color:rgba(106, 106, 106, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7985 {
  position:absolute;
  left:20px;
  top:270px;
  width:205px;
  height:6px;
}
#u7986 {
  position:absolute;
  left:2px;
  top:-5px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:6px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7987 {
  position:absolute;
  left:20px;
  top:270px;
  width:50px;
  height:6px;
}
#u7988 {
  position:absolute;
  left:2px;
  top:-5px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u7989 {
  position:absolute;
  left:20px;
  top:250px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u7990 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u7991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u7991 {
  position:absolute;
  left:168px;
  top:249px;
  width:57px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u7992 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:6px;
  background:inherit;
  background-color:rgba(106, 106, 106, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7993 {
  position:absolute;
  left:20px;
  top:304px;
  width:205px;
  height:6px;
}
#u7994 {
  position:absolute;
  left:2px;
  top:-5px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:6px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7995 {
  position:absolute;
  left:20px;
  top:304px;
  width:61px;
  height:6px;
}
#u7996 {
  position:absolute;
  left:2px;
  top:-5px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u7997 {
  position:absolute;
  left:20px;
  top:284px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u7998 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u7999 {
  position:absolute;
  left:140px;
  top:283px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u8000 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u8001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
  color:#4CCCBB;
}
#u8001 {
  position:absolute;
  left:188px;
  top:127px;
  width:37px;
  height:15px;
  font-size:12px;
  text-decoration:underline;
  color:#4CCCBB;
}
#u8002 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
  color:#4CCCBB;
}
#u8003 {
  position:absolute;
  left:188px;
  top:179px;
  width:37px;
  height:15px;
  font-size:12px;
  text-decoration:underline;
  color:#4CCCBB;
}
#u8004 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:948px;
  height:911px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8005 {
  position:absolute;
  left:252px;
  top:73px;
  width:948px;
  height:911px;
}
#u8006 {
  position:absolute;
  left:2px;
  top:448px;
  width:944px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:2px;
}
#u8007 {
  position:absolute;
  left:253px;
  top:73px;
  width:948px;
  height:1px;
}
#u8008 {
  position:absolute;
  left:2px;
  top:-8px;
  width:944px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:912px;
}
#u8009 {
  position:absolute;
  left:1px;
  top:73px;
  width:1px;
  height:911px;
}
#u8010 {
  position:absolute;
  left:2px;
  top:448px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:2px;
}
#u8011 {
  position:absolute;
  left:252px;
  top:983px;
  width:949px;
  height:1px;
}
#u8012 {
  position:absolute;
  left:2px;
  top:-8px;
  width:945px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:2px;
}
#u8013 {
  position:absolute;
  left:253px;
  top:137px;
  width:948px;
  height:1px;
}
#u8014 {
  position:absolute;
  left:2px;
  top:-8px;
  width:944px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:912px;
}
#u8015 {
  position:absolute;
  left:1200px;
  top:73px;
  width:1px;
  height:911px;
}
#u8016 {
  position:absolute;
  left:2px;
  top:448px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:63px;
}
#u8017 {
  position:absolute;
  left:269px;
  top:74px;
  width:93px;
  height:63px;
  font-size:15px;
  color:#717171;
}
#u8017_img.mouseOver {
  left:-2px;
  top:-2px;
  width:98px;
  height:68px;
}
#u8017.mouseOver {
}
#u8017_img.selected {
  left:-2px;
  top:-2px;
  width:98px;
  height:68px;
}
#u8017.selected {
}
#u8018 {
  position:absolute;
  left:2px;
  top:23px;
  width:89px;
  word-wrap:break-word;
}
#u8020 {
  position:absolute;
  left:0px;
  top:994px;
  width:1200px;
  height:64px;
  overflow:hidden;
}
#u8020_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:64px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/我的视频/u82_state0.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:30px 64px;
}
#u8020_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u8021 {
  position:absolute;
  left:0px;
  top:1018px;
  width:354px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u8022 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  white-space:nowrap;
}
#u8023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8023 {
  position:absolute;
  left:604px;
  top:1018px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u8023_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8023.mouseOver {
}
#u8023_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8023.selected {
}
#u8024 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8025 {
  position:absolute;
  left:1056px;
  top:1018px;
  width:134px;
  height:16px;
  color:#FFFFFF;
}
#u8026 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u8027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:350px;
}
#u8027 {
  position:absolute;
  left:271px;
  top:221px;
  width:832px;
  height:350px;
}
#u8028 {
  position:absolute;
  left:2px;
  top:167px;
  width:828px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8029 {
  position:absolute;
  left:309px;
  top:228px;
  width:156px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8030 {
  position:absolute;
  left:309px;
  top:367px;
  width:156px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8031 {
  position:absolute;
  left:309px;
  top:527px;
  width:156px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3300;
}
#u8032 {
  position:absolute;
  left:507px;
  top:404px;
  width:313px;
  height:16px;
  color:#FF3300;
}
#u8033 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u8034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
}
#u8034 {
  position:absolute;
  left:820px;
  top:390px;
  width:100px;
  height:44px;
  font-size:14px;
  text-decoration:underline;
  color:#FF3300;
}
#u8035 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8037 {
  position:fixed;
  right:40px;
  bottom:0px;
}
#u8037_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8037_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
}
#u8038 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
}
#u8039 {
  position:absolute;
  left:2px;
  top:11px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8037_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u8037_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8040_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:355px;
  height:606px;
}
#u8040 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:586px;
}
#u8041 {
  position:absolute;
  left:2px;
  top:285px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8042 {
  position:absolute;
  left:286px;
  top:9px;
  width:43px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u8043 {
  position:absolute;
  left:45px;
  top:198px;
  width:275px;
  height:32px;
  color:#FF6600;
}
#u8044 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u8045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8045 {
  position:absolute;
  left:271px;
  top:592px;
  width:69px;
  height:16px;
  color:#666666;
}
#u8046 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u8047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u8047 {
  position:absolute;
  left:281px;
  top:618px;
  width:742px;
  height:32px;
  color:#797979;
}
#u8048 {
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  word-wrap:break-word;
}
#u8049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:42px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8049 {
  position:absolute;
  left:309px;
  top:660px;
  width:156px;
  height:42px;
  color:#FFFFFF;
}
#u8050 {
  position:absolute;
  left:2px;
  top:13px;
  width:152px;
  word-wrap:break-word;
}
#u8051 {
  position:absolute;
  left:475px;
  top:460px;
  visibility:hidden;
}
#u8051_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8051_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:420px;
}
#u8052 {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:420px;
}
#u8053 {
  position:absolute;
  left:2px;
  top:202px;
  width:481px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8054 {
  position:absolute;
  left:428px;
  top:15px;
  width:44px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8055 {
  position:absolute;
  left:162px;
  top:356px;
  width:165px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u8056 {
  position:absolute;
  left:271px;
  top:148px;
  width:171px;
  height:16px;
  color:#6B6B6B;
}
#u8057 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u8058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u8058 {
  position:absolute;
  left:286px;
  top:174px;
  width:573px;
  height:16px;
  color:#6B6B6B;
}
#u8059 {
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  white-space:nowrap;
}
#u8060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u8060 {
  position:absolute;
  left:314px;
  top:200px;
  width:279px;
  height:16px;
  color:#6B6B6B;
}
#u8061 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  white-space:nowrap;
}
#u8062 {
  position:absolute;
  left:118px;
  top:301px;
  visibility:hidden;
}
#u8062_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8062_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1014px;
  height:476px;
}
#u8063 {
  position:absolute;
  left:0px;
  top:0px;
  width:1014px;
  height:476px;
}
#u8064 {
  position:absolute;
  left:2px;
  top:230px;
  width:1010px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8065 {
  position:absolute;
  left:938px;
  top:34px;
  width:44px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8066 {
  position:absolute;
  left:697px;
  top:263px;
  width:256px;
  height:170px;
}
#u8067 {
  position:absolute;
  left:2px;
  top:77px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8068 {
  position:absolute;
  left:445px;
  top:434px;
  visibility:hidden;
}
#u8068_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8068_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:267px;
}
#u8069 {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:267px;
}
#u8070 {
  position:absolute;
  left:2px;
  top:126px;
  width:481px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8071 {
  position:absolute;
  left:428px;
  top:15px;
  width:44px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8072 {
  position:absolute;
  left:161px;
  top:203px;
  width:165px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8073 {
  position:absolute;
  left:421px;
  top:311px;
  visibility:hidden;
}
#u8073_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8073_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:244px;
}
#u8074 {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:244px;
}
#u8075 {
  position:absolute;
  left:2px;
  top:114px;
  width:481px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8076 {
  position:absolute;
  left:162px;
  top:176px;
  width:164px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8077 {
  position:absolute;
  left:431px;
  top:23px;
  width:30px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8078 {
  position:absolute;
  left:103px;
  top:74px;
  width:300px;
  height:78px;
}
#u8079 {
  position:absolute;
  left:2px;
  top:31px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8080 {
  position:absolute;
  left:117px;
  top:100px;
  width:26px;
  height:26px;
}
#u8081 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#6B6B6B;
}
#u8082 {
  position:absolute;
  left:153px;
  top:105px;
  width:215px;
  height:17px;
  font-size:15px;
  color:#6B6B6B;
}
#u8083 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u8084 {
  position:absolute;
  left:503px;
  top:434px;
  visibility:hidden;
}
#u8084_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8084_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:405px;
}
#u8085 {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:405px;
}
#u8086 {
  position:absolute;
  left:2px;
  top:194px;
  width:481px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8087 {
  position:absolute;
  left:163px;
  top:338px;
  width:160px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8088 {
  position:absolute;
  left:433px;
  top:24px;
  width:30px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8089 {
  position:absolute;
  left:376px;
  top:175px;
  visibility:hidden;
}
#u8089_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8089_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:212px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 15px rgba(0, 0, 0, 0.349019607843137);
}
#u8090 {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:212px;
}
#u8091 {
  position:absolute;
  left:2px;
  top:98px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8092 {
  position:absolute;
  left:15px;
  top:20px;
  width:85px;
  height:16px;
  color:#666666;
}
#u8093 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u8094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8094 {
  position:absolute;
  left:15px;
  top:67px;
  width:211px;
  height:40px;
}
#u8095 {
  position:absolute;
  left:2px;
  top:12px;
  width:207px;
  word-wrap:break-word;
}
#u8096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8096 {
  position:absolute;
  left:255px;
  top:79px;
  width:197px;
  height:16px;
  color:#999999;
}
#u8097 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u8098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:43px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8098 {
  position:absolute;
  left:149px;
  top:145px;
  width:156px;
  height:43px;
  font-size:14px;
  color:#FFFFFF;
}
#u8098_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:43px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8098.mouseOver {
  opacity:0.8;
}
#u8099 {
  position:absolute;
  left:2px;
  top:14px;
  width:152px;
  word-wrap:break-word;
}
#u8100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8100 {
  position:absolute;
  left:172px;
  top:79px;
  width:47px;
  height:16px;
  color:#666666;
}
#u8101 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u8102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u8102 {
  position:absolute;
  left:471px;
  top:8px;
  width:22px;
  height:22px;
}
#u8103 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8105 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:63px;
  overflow:hidden;
}
#u8105_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:63px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/我的视频/u1_state0.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:15px 63px;
}
#u8105_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:43px;
}
#u8106 {
  position:absolute;
  left:877px;
  top:12px;
  width:107px;
  height:43px;
}
#u8106_img.mouseOver {
}
#u8106.mouseOver {
  opacity:0.8;
}
#u8107 {
  position:absolute;
  left:2px;
  top:14px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8108 {
  position:absolute;
  left:1002px;
  top:20px;
  width:24px;
  height:24px;
}
#u8109 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#717171;
}
#u8110 {
  position:absolute;
  left:1042px;
  top:23px;
  width:57px;
  height:16px;
  color:#717171;
}
#u8110_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#717171;
}
#u8110.mouseOver {
}
#u8110_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#717171;
}
#u8110.selected {
}
#u8111 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u8112 {
  position:absolute;
  left:1118px;
  top:15px;
  width:82px;
  height:30px;
}
#u8112_img.mouseOver {
}
#u8112.mouseOver {
  opacity:0.8;
}
#u8113 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:63px;
}
#u8114 {
  position:absolute;
  left:166px;
  top:0px;
  width:104px;
  height:63px;
  font-size:15px;
  color:#717171;
}
#u8114_img.mouseOver {
  left:-2px;
  top:-2px;
  width:109px;
  height:68px;
}
#u8114.mouseOver {
}
#u8114_img.selected {
  left:-2px;
  top:-2px;
  width:109px;
  height:68px;
}
#u8114.selected {
}
#u8115 {
  position:absolute;
  left:2px;
  top:23px;
  width:100px;
  word-wrap:break-word;
}
#u8116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:38px;
}
#u8116 {
  position:absolute;
  left:0px;
  top:13px;
  width:122px;
  height:38px;
}
#u8117 {
  position:absolute;
  left:2px;
  top:11px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8118 {
  position:absolute;
  left:860px;
  top:55px;
  visibility:hidden;
}
#u8118_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8118_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 15px rgba(0, 0, 0, 0.349019607843137);
}
#u8119 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:213px;
}
#u8120 {
  position:absolute;
  left:2px;
  top:98px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8121 {
  position:absolute;
  left:16px;
  top:29px;
  width:113px;
  height:31px;
}
#u8122 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u8123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8123 {
  position:absolute;
  left:16px;
  top:60px;
  width:113px;
  height:31px;
}
#u8124 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u8125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8125 {
  position:absolute;
  left:16px;
  top:90px;
  width:113px;
  height:31px;
}
#u8126 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u8127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8127 {
  position:absolute;
  left:16px;
  top:121px;
  width:113px;
  height:31px;
}
#u8128 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u8129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8129 {
  position:absolute;
  left:16px;
  top:151px;
  width:113px;
  height:31px;
}
#u8130 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u8131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8131 {
  position:absolute;
  left:16px;
  top:182px;
  width:113px;
  height:31px;
}
#u8132 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u8133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8133 {
  position:absolute;
  left:16px;
  top:0px;
  width:113px;
  height:31px;
}
#u8134 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
