body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:622px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8135 {
  position:absolute;
  left:0px;
  top:73px;
  width:1200px;
  height:622px;
}
#u8136 {
  position:absolute;
  left:2px;
  top:303px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:2px;
}
#u8137 {
  position:absolute;
  left:0px;
  top:139px;
  width:1200px;
  height:1px;
}
#u8138 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8139 {
  position:absolute;
  left:0px;
  top:74px;
  width:112px;
  height:66px;
  font-size:14px;
}
#u8140 {
  position:absolute;
  left:2px;
  top:25px;
  width:108px;
  word-wrap:break-word;
}
#u8141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8141 {
  position:absolute;
  left:28px;
  top:150px;
  width:57px;
  height:16px;
  color:#999999;
}
#u8142 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8143 {
  position:absolute;
  left:303px;
  top:150px;
  width:57px;
  height:16px;
  color:#999999;
}
#u8144 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8145 {
  position:absolute;
  left:596px;
  top:150px;
  width:57px;
  height:16px;
  color:#999999;
}
#u8146 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8147 {
  position:absolute;
  left:1108px;
  top:150px;
  width:57px;
  height:16px;
  color:#999999;
}
#u8148 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:66px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8149 {
  position:absolute;
  left:12px;
  top:176px;
  width:1170px;
  height:66px;
}
#u8150 {
  position:absolute;
  left:2px;
  top:25px;
  width:1166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8151 {
  position:absolute;
  left:12px;
  top:176px;
  width:86px;
  height:66px;
  font-size:14px;
}
#u8152 {
  position:absolute;
  left:2px;
  top:25px;
  width:82px;
  word-wrap:break-word;
}
#u8153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8153 {
  position:absolute;
  left:289px;
  top:176px;
  width:86px;
  height:66px;
  font-size:14px;
}
#u8154 {
  position:absolute;
  left:2px;
  top:25px;
  width:82px;
  word-wrap:break-word;
}
#u8155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8155 {
  position:absolute;
  left:582px;
  top:176px;
  width:86px;
  height:66px;
  font-size:14px;
}
#u8156 {
  position:absolute;
  left:2px;
  top:25px;
  width:82px;
  word-wrap:break-word;
}
#u8157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8157 {
  position:absolute;
  left:1096px;
  top:176px;
  width:86px;
  height:66px;
  font-size:14px;
}
#u8158 {
  position:absolute;
  left:2px;
  top:25px;
  width:82px;
  word-wrap:break-word;
}
#u8159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:120px;
}
#u8159 {
  position:absolute;
  left:210px;
  top:283px;
  width:829px;
  height:120px;
}
#u8160 {
  position:absolute;
  left:2px;
  top:52px;
  width:825px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:45px;
}
#u8161 {
  position:absolute;
  left:991px;
  top:533px;
  width:191px;
  height:45px;
}
#u8162 {
  position:absolute;
  left:2px;
  top:14px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8163 {
  position:absolute;
  left:0px;
  top:283px;
  width:112px;
  height:66px;
  font-size:14px;
}
#u8164 {
  position:absolute;
  left:2px;
  top:25px;
  width:108px;
  word-wrap:break-word;
}
#u8165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:2px;
}
#u8165 {
  position:absolute;
  left:12px;
  top:433px;
  width:1170px;
  height:1px;
}
#u8166 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:66px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8167 {
  position:absolute;
  left:12px;
  top:457px;
  width:1170px;
  height:66px;
}
#u8168 {
  position:absolute;
  left:2px;
  top:25px;
  width:1166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF4444;
}
#u8169 {
  position:absolute;
  left:12px;
  top:457px;
  width:491px;
  height:66px;
  font-size:14px;
  color:#FF4444;
}
#u8170 {
  position:absolute;
  left:2px;
  top:25px;
  width:487px;
  word-wrap:break-word;
}
#u8171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8171 {
  position:absolute;
  left:1008px;
  top:457px;
  width:174px;
  height:66px;
}
#u8172 {
  position:absolute;
  left:2px;
  top:16px;
  width:170px;
  word-wrap:break-word;
}
#u8173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:2px;
}
#u8173 {
  position:absolute;
  left:12px;
  top:628px;
  width:1170px;
  height:1px;
}
#u8174 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8176 {
  position:absolute;
  left:0px;
  top:705px;
  width:1200px;
  height:64px;
  overflow:hidden;
}
#u8176_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:64px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/我的视频/u82_state0.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:30px 64px;
}
#u8176_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u8177 {
  position:absolute;
  left:0px;
  top:729px;
  width:354px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u8178 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  white-space:nowrap;
}
#u8179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8179 {
  position:absolute;
  left:604px;
  top:729px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u8179_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8179.mouseOver {
}
#u8179_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8179.selected {
}
#u8180 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8181 {
  position:absolute;
  left:1056px;
  top:729px;
  width:134px;
  height:16px;
  color:#FFFFFF;
}
#u8182 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u8184 {
  position:fixed;
  right:40px;
  bottom:0px;
}
#u8184_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8184_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
}
#u8185 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
}
#u8186 {
  position:absolute;
  left:2px;
  top:11px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8184_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u8184_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8187_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:355px;
  height:606px;
}
#u8187 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:586px;
}
#u8188 {
  position:absolute;
  left:2px;
  top:285px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8189 {
  position:absolute;
  left:286px;
  top:9px;
  width:43px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u8190 {
  position:absolute;
  left:45px;
  top:198px;
  width:275px;
  height:32px;
  color:#FF6600;
}
#u8191 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u8193 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:63px;
  overflow:hidden;
}
#u8193_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:63px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/我的视频/u1_state0.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:15px 63px;
}
#u8193_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:43px;
}
#u8194 {
  position:absolute;
  left:877px;
  top:12px;
  width:107px;
  height:43px;
}
#u8194_img.mouseOver {
}
#u8194.mouseOver {
  opacity:0.8;
}
#u8195 {
  position:absolute;
  left:2px;
  top:14px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8196 {
  position:absolute;
  left:1002px;
  top:20px;
  width:24px;
  height:24px;
}
#u8197 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#717171;
}
#u8198 {
  position:absolute;
  left:1042px;
  top:23px;
  width:57px;
  height:16px;
  color:#717171;
}
#u8198_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#717171;
}
#u8198.mouseOver {
}
#u8198_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#717171;
}
#u8198.selected {
}
#u8199 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u8200 {
  position:absolute;
  left:1118px;
  top:15px;
  width:82px;
  height:30px;
}
#u8200_img.mouseOver {
}
#u8200.mouseOver {
  opacity:0.8;
}
#u8201 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:63px;
}
#u8202 {
  position:absolute;
  left:166px;
  top:0px;
  width:104px;
  height:63px;
  font-size:15px;
  color:#717171;
}
#u8202_img.mouseOver {
  left:-2px;
  top:-2px;
  width:109px;
  height:68px;
}
#u8202.mouseOver {
}
#u8202_img.selected {
  left:-2px;
  top:-2px;
  width:109px;
  height:68px;
}
#u8202.selected {
}
#u8203 {
  position:absolute;
  left:2px;
  top:23px;
  width:100px;
  word-wrap:break-word;
}
#u8204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:38px;
}
#u8204 {
  position:absolute;
  left:0px;
  top:13px;
  width:122px;
  height:38px;
}
#u8205 {
  position:absolute;
  left:2px;
  top:11px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8206 {
  position:absolute;
  left:860px;
  top:55px;
  visibility:hidden;
}
#u8206_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8206_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 15px rgba(0, 0, 0, 0.349019607843137);
}
#u8207 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:213px;
}
#u8208 {
  position:absolute;
  left:2px;
  top:98px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8209 {
  position:absolute;
  left:16px;
  top:29px;
  width:113px;
  height:31px;
}
#u8210 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u8211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8211 {
  position:absolute;
  left:16px;
  top:60px;
  width:113px;
  height:31px;
}
#u8212 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u8213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8213 {
  position:absolute;
  left:16px;
  top:90px;
  width:113px;
  height:31px;
}
#u8214 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u8215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8215 {
  position:absolute;
  left:16px;
  top:121px;
  width:113px;
  height:31px;
}
#u8216 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u8217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8217 {
  position:absolute;
  left:16px;
  top:151px;
  width:113px;
  height:31px;
}
#u8218 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u8219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8219 {
  position:absolute;
  left:16px;
  top:182px;
  width:113px;
  height:31px;
}
#u8220 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u8221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8221 {
  position:absolute;
  left:16px;
  top:0px;
  width:113px;
  height:31px;
}
#u8222 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
