body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1208px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8625 {
  position:absolute;
  left:0px;
  top:987px;
  width:1200px;
  height:64px;
  overflow:hidden;
}
#u8625_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:64px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/我的视频/u82_state0.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:30px 64px;
}
#u8625_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u8626 {
  position:absolute;
  left:0px;
  top:1011px;
  width:354px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u8627 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  white-space:nowrap;
}
#u8628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8628 {
  position:absolute;
  left:604px;
  top:1011px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u8628_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8628.mouseOver {
}
#u8628_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8628.selected {
}
#u8629 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8630 {
  position:absolute;
  left:1056px;
  top:1011px;
  width:134px;
  height:16px;
  color:#FFFFFF;
}
#u8631 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u8633 {
  position:fixed;
  right:40px;
  bottom:0px;
}
#u8633_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8633_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
}
#u8634 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
}
#u8635 {
  position:absolute;
  left:2px;
  top:11px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8633_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u8633_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8636_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:355px;
  height:606px;
}
#u8636 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:586px;
}
#u8637 {
  position:absolute;
  left:2px;
  top:285px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8638 {
  position:absolute;
  left:286px;
  top:9px;
  width:43px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u8639 {
  position:absolute;
  left:45px;
  top:198px;
  width:275px;
  height:32px;
  color:#FF6600;
}
#u8640 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u8641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:904px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u8641 {
  position:absolute;
  left:0px;
  top:73px;
  width:1200px;
  height:904px;
}
#u8642 {
  position:absolute;
  left:2px;
  top:444px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#797979;
}
#u8643 {
  position:absolute;
  left:33px;
  top:132px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#797979;
}
#u8644 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u8645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1205px;
  height:2px;
}
#u8645 {
  position:absolute;
  left:4px;
  top:171px;
  width:1204px;
  height:1px;
}
#u8646 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u8647 {
  position:absolute;
  left:92px;
  top:182px;
  width:57px;
  height:16px;
  color:#797979;
}
#u8648 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u8649 {
  position:absolute;
  left:366px;
  top:182px;
  width:57px;
  height:16px;
  color:#797979;
}
#u8650 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u8651 {
  position:absolute;
  left:579px;
  top:182px;
  width:57px;
  height:16px;
  color:#797979;
}
#u8652 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1143px;
  height:93px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8653 {
  position:absolute;
  left:13px;
  top:208px;
  width:1143px;
  height:93px;
}
#u8654 {
  position:absolute;
  left:2px;
  top:38px;
  width:1139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:80px;
}
#u8655 {
  position:absolute;
  left:50px;
  top:214px;
  width:142px;
  height:80px;
}
#u8656 {
  position:absolute;
  left:2px;
  top:32px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8657 {
  position:absolute;
  left:366px;
  top:278px;
  width:43px;
  height:16px;
}
#u8658 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u8659 {
  position:absolute;
  left:589px;
  top:278px;
  width:37px;
  height:16px;
  text-align:center;
}
#u8660 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u8661 {
  position:absolute;
  left:1049px;
  top:278px;
  width:29px;
  height:16px;
  text-align:center;
}
#u8662 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
  text-align:center;
}
#u8663 {
  position:absolute;
  left:1049px;
  top:182px;
  width:29px;
  height:16px;
  color:#797979;
  text-align:center;
}
#u8664 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1143px;
  height:94px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8665 {
  position:absolute;
  left:13px;
  top:311px;
  width:1143px;
  height:94px;
}
#u8666 {
  position:absolute;
  left:2px;
  top:39px;
  width:1139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:80px;
}
#u8667 {
  position:absolute;
  left:50px;
  top:318px;
  width:142px;
  height:80px;
}
#u8668 {
  position:absolute;
  left:2px;
  top:32px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8669 {
  position:absolute;
  left:366px;
  top:382px;
  width:43px;
  height:16px;
}
#u8670 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u8671 {
  position:absolute;
  left:589px;
  top:382px;
  width:37px;
  height:16px;
  text-align:center;
}
#u8672 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u8673 {
  position:absolute;
  left:1049px;
  top:382px;
  width:29px;
  height:16px;
  text-align:center;
}
#u8674 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1143px;
  height:94px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8675 {
  position:absolute;
  left:13px;
  top:415px;
  width:1143px;
  height:94px;
}
#u8676 {
  position:absolute;
  left:2px;
  top:39px;
  width:1139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:80px;
}
#u8677 {
  position:absolute;
  left:50px;
  top:422px;
  width:142px;
  height:80px;
}
#u8678 {
  position:absolute;
  left:2px;
  top:32px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u8679 {
  position:absolute;
  left:373px;
  top:486px;
  width:29px;
  height:16px;
  text-align:center;
}
#u8680 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u8681 {
  position:absolute;
  left:589px;
  top:486px;
  width:37px;
  height:16px;
  text-align:center;
}
#u8682 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u8683 {
  position:absolute;
  left:1049px;
  top:486px;
  width:29px;
  height:16px;
  text-align:center;
}
#u8684 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1143px;
  height:94px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8685 {
  position:absolute;
  left:13px;
  top:519px;
  width:1143px;
  height:94px;
}
#u8686 {
  position:absolute;
  left:2px;
  top:39px;
  width:1139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:80px;
}
#u8687 {
  position:absolute;
  left:50px;
  top:526px;
  width:142px;
  height:80px;
}
#u8688 {
  position:absolute;
  left:2px;
  top:32px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u8689 {
  position:absolute;
  left:373px;
  top:590px;
  width:29px;
  height:16px;
  text-align:center;
}
#u8690 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u8691 {
  position:absolute;
  left:589px;
  top:590px;
  width:37px;
  height:16px;
  text-align:center;
}
#u8692 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u8693 {
  position:absolute;
  left:1049px;
  top:590px;
  width:29px;
  height:16px;
  text-align:center;
}
#u8694 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:915px;
  height:139px;
}
#u8695 {
  position:absolute;
  left:50px;
  top:660px;
  width:915px;
  height:139px;
}
#u8696 {
  position:absolute;
  left:2px;
  top:62px;
  width:911px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u8697 {
  position:absolute;
  left:50px;
  top:698px;
  width:57px;
  height:16px;
  color:#AEAEAE;
}
#u8698 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1143px;
  height:91px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8699 {
  position:absolute;
  left:13px;
  top:815px;
  width:1143px;
  height:91px;
}
#u8700 {
  position:absolute;
  left:2px;
  top:38px;
  width:1139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 68, 68, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8701 {
  position:absolute;
  left:936px;
  top:860px;
  width:180px;
  height:38px;
  color:#FFFFFF;
}
#u8702 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u8703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8703 {
  position:absolute;
  left:936px;
  top:828px;
  width:103px;
  height:22px;
  font-size:18px;
}
#u8704 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u8705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u8705 {
  position:absolute;
  left:754px;
  top:182px;
  width:57px;
  height:16px;
  color:#797979;
}
#u8706 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u8707 {
  position:absolute;
  left:767px;
  top:278px;
  width:31px;
  height:16px;
  text-align:center;
}
#u8708 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u8709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u8709 {
  position:absolute;
  left:767px;
  top:382px;
  width:31px;
  height:16px;
  text-align:center;
}
#u8710 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u8711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u8711 {
  position:absolute;
  left:767px;
  top:486px;
  width:31px;
  height:16px;
  text-align:center;
}
#u8712 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u8713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u8713 {
  position:absolute;
  left:767px;
  top:590px;
  width:31px;
  height:16px;
  text-align:center;
}
#u8714 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u8715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(76, 204, 187, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#515151;
}
#u8715 {
  position:absolute;
  left:983px;
  top:123px;
  width:87px;
  height:38px;
  color:#515151;
}
#u8715_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(76, 204, 187, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#515151;
}
#u8715.mouseOver {
}
#u8715_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(76, 204, 187, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#515151;
}
#u8715.selected {
}
#u8716 {
  position:absolute;
  left:2px;
  top:11px;
  width:83px;
  word-wrap:break-word;
}
#u8717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(76, 204, 187, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8717 {
  position:absolute;
  left:1069px;
  top:123px;
  width:87px;
  height:38px;
}
#u8717_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(76, 204, 187, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8717.mouseOver {
}
#u8717_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
  background:inherit;
  background-color:rgba(76, 204, 187, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(76, 204, 187, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8717.selected {
}
#u8718 {
  position:absolute;
  left:2px;
  top:11px;
  width:83px;
  word-wrap:break-word;
}
#u8720 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:63px;
  overflow:hidden;
}
#u8720_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:63px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/我的视频/u1_state0.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:15px 63px;
}
#u8720_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:43px;
}
#u8721 {
  position:absolute;
  left:877px;
  top:12px;
  width:107px;
  height:43px;
}
#u8721_img.mouseOver {
}
#u8721.mouseOver {
  opacity:0.8;
}
#u8722 {
  position:absolute;
  left:2px;
  top:14px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8723 {
  position:absolute;
  left:1002px;
  top:20px;
  width:24px;
  height:24px;
}
#u8724 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#717171;
}
#u8725 {
  position:absolute;
  left:1042px;
  top:23px;
  width:57px;
  height:16px;
  color:#717171;
}
#u8725_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#717171;
}
#u8725.mouseOver {
}
#u8725_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#717171;
}
#u8725.selected {
}
#u8726 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u8727 {
  position:absolute;
  left:1118px;
  top:15px;
  width:82px;
  height:30px;
}
#u8727_img.mouseOver {
}
#u8727.mouseOver {
  opacity:0.8;
}
#u8728 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:63px;
}
#u8729 {
  position:absolute;
  left:166px;
  top:0px;
  width:104px;
  height:63px;
  font-size:15px;
  color:#717171;
}
#u8729_img.mouseOver {
  left:-2px;
  top:-2px;
  width:109px;
  height:68px;
}
#u8729.mouseOver {
}
#u8729_img.selected {
  left:-2px;
  top:-2px;
  width:109px;
  height:68px;
}
#u8729.selected {
}
#u8730 {
  position:absolute;
  left:2px;
  top:23px;
  width:100px;
  word-wrap:break-word;
}
#u8731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:38px;
}
#u8731 {
  position:absolute;
  left:0px;
  top:13px;
  width:122px;
  height:38px;
}
#u8732 {
  position:absolute;
  left:2px;
  top:11px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8733 {
  position:absolute;
  left:860px;
  top:55px;
  visibility:hidden;
}
#u8733_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8733_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 15px rgba(0, 0, 0, 0.349019607843137);
}
#u8734 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:213px;
}
#u8735 {
  position:absolute;
  left:2px;
  top:98px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8736 {
  position:absolute;
  left:16px;
  top:29px;
  width:113px;
  height:31px;
}
#u8737 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u8738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8738 {
  position:absolute;
  left:16px;
  top:60px;
  width:113px;
  height:31px;
}
#u8739 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u8740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8740 {
  position:absolute;
  left:16px;
  top:90px;
  width:113px;
  height:31px;
}
#u8741 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u8742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8742 {
  position:absolute;
  left:16px;
  top:121px;
  width:113px;
  height:31px;
}
#u8743 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u8744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8744 {
  position:absolute;
  left:16px;
  top:151px;
  width:113px;
  height:31px;
}
#u8745 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u8746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8746 {
  position:absolute;
  left:16px;
  top:182px;
  width:113px;
  height:31px;
}
#u8747 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u8748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8748 {
  position:absolute;
  left:16px;
  top:0px;
  width:113px;
  height:31px;
}
#u8749 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
