body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1238 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:63px;
  overflow:hidden;
}
#u1238_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:63px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/我的视频/u1_state0.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:15px 63px;
}
#u1238_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:43px;
}
#u1239 {
  position:absolute;
  left:877px;
  top:12px;
  width:107px;
  height:43px;
}
#u1239_img.mouseOver {
}
#u1239.mouseOver {
  opacity:0.8;
}
#u1240 {
  position:absolute;
  left:2px;
  top:14px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1241 {
  position:absolute;
  left:1002px;
  top:20px;
  width:24px;
  height:24px;
}
#u1242 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#717171;
}
#u1243 {
  position:absolute;
  left:1042px;
  top:23px;
  width:57px;
  height:16px;
  color:#717171;
}
#u1243_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#717171;
}
#u1243.mouseOver {
}
#u1243_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#717171;
}
#u1243.selected {
}
#u1244 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u1245 {
  position:absolute;
  left:1118px;
  top:15px;
  width:82px;
  height:30px;
}
#u1245_img.mouseOver {
}
#u1245.mouseOver {
  opacity:0.8;
}
#u1246 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:63px;
}
#u1247 {
  position:absolute;
  left:166px;
  top:0px;
  width:104px;
  height:63px;
  font-size:15px;
  color:#717171;
}
#u1247_img.mouseOver {
  left:-2px;
  top:-2px;
  width:109px;
  height:68px;
}
#u1247.mouseOver {
}
#u1247_img.selected {
  left:-2px;
  top:-2px;
  width:109px;
  height:68px;
}
#u1247.selected {
}
#u1248 {
  position:absolute;
  left:2px;
  top:23px;
  width:100px;
  word-wrap:break-word;
}
#u1249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:38px;
}
#u1249 {
  position:absolute;
  left:0px;
  top:13px;
  width:122px;
  height:38px;
}
#u1250 {
  position:absolute;
  left:2px;
  top:11px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251 {
  position:absolute;
  left:860px;
  top:55px;
  visibility:hidden;
}
#u1251_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1251_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 15px rgba(0, 0, 0, 0.349019607843137);
}
#u1252 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:213px;
}
#u1253 {
  position:absolute;
  left:2px;
  top:98px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1254 {
  position:absolute;
  left:16px;
  top:29px;
  width:113px;
  height:31px;
}
#u1255 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u1256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1256 {
  position:absolute;
  left:16px;
  top:60px;
  width:113px;
  height:31px;
}
#u1257 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u1258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1258 {
  position:absolute;
  left:16px;
  top:90px;
  width:113px;
  height:31px;
}
#u1259 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u1260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1260 {
  position:absolute;
  left:16px;
  top:121px;
  width:113px;
  height:31px;
}
#u1261 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u1262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1262 {
  position:absolute;
  left:16px;
  top:151px;
  width:113px;
  height:31px;
}
#u1263 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u1264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1264 {
  position:absolute;
  left:16px;
  top:182px;
  width:113px;
  height:31px;
}
#u1265 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u1266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1266 {
  position:absolute;
  left:16px;
  top:0px;
  width:113px;
  height:31px;
}
#u1267 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u1268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:718px;
}
#u1268 {
  position:absolute;
  left:0px;
  top:73px;
  width:1200px;
  height:718px;
}
#u1269 {
  position:absolute;
  left:2px;
  top:351px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271 {
  position:absolute;
  left:0px;
  top:801px;
  width:1200px;
  height:64px;
  overflow:hidden;
}
#u1271_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:64px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/我的视频/u82_state0.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:30px 64px;
}
#u1271_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1272 {
  position:absolute;
  left:0px;
  top:825px;
  width:354px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u1273 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  white-space:nowrap;
}
#u1274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1274 {
  position:absolute;
  left:604px;
  top:825px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1274_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1274.mouseOver {
}
#u1274_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1274.selected {
}
#u1275 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1276 {
  position:absolute;
  left:1056px;
  top:825px;
  width:134px;
  height:16px;
  color:#FFFFFF;
}
#u1277 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u1278 {
  position:absolute;
  left:792px;
  top:518px;
  width:102px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1279 {
  position:absolute;
  left:917px;
  top:518px;
  width:124px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1280 {
  position:absolute;
  left:1064px;
  top:518px;
  width:100px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1281 {
  position:absolute;
  left:770px;
  top:112px;
  width:159px;
  height:16px;
  color:#FF0000;
}
#u1282 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u1283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1283 {
  position:absolute;
  left:939px;
  top:102px;
  width:94px;
  height:40px;
}
#u1284 {
  position:absolute;
  left:2px;
  top:12px;
  width:90px;
  word-wrap:break-word;
}
#u1285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1285 {
  position:absolute;
  left:1043px;
  top:102px;
  width:94px;
  height:40px;
}
#u1286 {
  position:absolute;
  left:2px;
  top:12px;
  width:90px;
  word-wrap:break-word;
}
#u1287 {
  position:absolute;
  left:154px;
  top:105px;
  visibility:hidden;
}
#u1287_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1287_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1288_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:913px;
  height:607px;
}
#u1288 {
  position:absolute;
  left:0px;
  top:0px;
  width:893px;
  height:587px;
}
#u1289 {
  position:absolute;
  left:2px;
  top:286px;
  width:889px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1290 {
  position:absolute;
  left:625px;
  top:288px;
  width:113px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1291 {
  position:absolute;
  left:507px;
  top:525px;
  width:107px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1292 {
  position:absolute;
  left:380px;
  top:525px;
  width:107px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1287_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1287_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1293_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:1005px;
  height:667px;
}
#u1293 {
  position:absolute;
  left:0px;
  top:0px;
  width:985px;
  height:647px;
}
#u1294 {
  position:absolute;
  left:2px;
  top:316px;
  width:981px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1295 {
  position:absolute;
  left:389px;
  top:586px;
  width:109px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1296 {
  position:absolute;
  left:518px;
  top:586px;
  width:109px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1287_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1287_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1297_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:741px;
  height:391px;
}
#u1297 {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:371px;
}
#u1298 {
  position:absolute;
  left:2px;
  top:178px;
  width:717px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1299 {
  position:absolute;
  left:115px;
  top:285px;
  width:155px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1300 {
  position:absolute;
  left:446px;
  top:285px;
  width:155px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1301 {
  position:absolute;
  left:670px;
  top:21px;
  width:33px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
